button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  height: 60px;
  width: 60px;
}

button:active {
  transform: scale(0.93);
}
button:focus {
  outline: none;
}
button:hover {
  opacity: 0.85;
}

button.ac {
  margin-right: 50%;
}
button.light-grey {
  background-color: #9f9f9f;
}
button.orange {
  background-color: #f19a35;
  color: #fff;
}
button.dark-grey {
  background-color: #313131;
  color: #fff;
}
button.double-height {
  border-radius: 40px;
  height: 110px;
}

button.double-width {
  border-radius: 40px;
  width: 130px;
}

.keypad {
  width: 75%;
}
