.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #000;
  color: #fff;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

.navigation {
  display: flex;
  list-style-type: none;
}
