.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #000;
  color: #fff;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

.navigation {
  display: flex;
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
  }
  
  .header div {
    margin: 0 auto;
  }

  .header ul {
    margin: 0 auto;
    padding-bottom: 1.5em;
  }
}