@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0 auto;
  background-color: #bdc581;
  font-family: 'Orbitron', sans-serif;
  min-height: 100vh;
  width: 70vw;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
